
.pricing-row {
  display: flex;
  flex-flow: row wrap;
  /*justify-content: center;*/
  justify-content: space-around;
  margin: 0 -15px;
}

.pricing-card {
  text-align: center;
  line-height: center;
  width: 340px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  line-height: 40px;
}

.pricing-card__title {
  background-color: #333333;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 2px;
  text-align: center;
  line-height: 50px;
}

.pricing-card__price {
  background-color: #333333;
  color: #FFFFFF;
  font-family: 'Raleway', sans-serif;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 2px;
  text-align: center;
  line-height: 100px;
}

.pricing-card__text {
  background-color: #333333;
  color: rgba(255,255,255,.5);
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 800;
  text-align: center;
  line-height: 50px;
  margin-bottom: 4px;
}

  .pricing-card__text:hover {
  background-color: #D98943;
    }
 
  li {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  line-height: 40px;
  margin-bottom: 15px;
  background-color: #FFFFFF;
    color: #86878B;
    margin-bottom: 4px;
  }