@import url('awesome.css');
@import url('pricing.css');

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.awesome {
  width: 100%;
  padding: 100px 0px 50px 0px;
}
.pricing {
  width: 100%;
  padding: 80px 0px 65px 0px;
  background-color: #F5F5F5;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
 }

 .title {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  color: #212121;
  margin-bottom: 57px;
}
.title::after {
  content: "";
  position: relative;
  top: 25px;
  width: 64px;
  height: 2px;
  background-color: #D98943;
  margin: 0 auto;
  display: block;
}

.text {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  color: #86878B;
  margin-bottom: 67px;

}
